### Main

Main api

In [1]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/mnt/d/klucze/jupyter-69b7bb37dc4e.json'

import six
from google.cloud import translate_v2 as translate
translate_client = translate.Client()

text = 'Muy'

result = translate_client.translate(text, target_language='en')
result

{'translatedText': 'Very', 'detectedSourceLanguage': 'es', 'input': 'Muy'}

In [1]:
import pandas as pd
import numpy as np
import nltk
import pickle

In [3]:
df1 = pd.read_csv('data/olist_order_reviews_dataset.csv')

In [4]:
df1.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

100 000 reviews in total

In [5]:
df1.isna().mean()

review_id                  0.00000
order_id                   0.00000
review_score               0.00000
review_comment_title       0.88285
review_comment_message     0.58247
review_creation_date       0.00000
review_answer_timestamp    0.00000
dtype: float64

In [6]:
df1.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       88285
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [7]:
example = [x for x in list(df1.review_comment_message) if type(x) == str][:10]

In [8]:
result = translate_client.translate(example, target_language='en')
result[:3]

[{'translatedText': 'I received it well before the deadline.',
  'detectedSourceLanguage': 'pt',
  'input': 'Recebi bem antes do prazo estipulado.'},
 {'translatedText': 'Congratulations lannister stores loved shopping online safe and practical Congratulations to all happy Easter',
  'detectedSourceLanguage': 'pt',
  'input': 'Parabéns lojas lannister adorei comprar pela Internet seguro e prático Parabéns a todos feliz Páscoa'},
 {'translatedText': 'efficient device. on the website the brand of the device is printed as 3desinfector and when it arrives with another name ... update with the correct brand since it is the same device',
  'detectedSourceLanguage': 'pt',
  'input': 'aparelho eficiente. no site a marca do aparelho esta impresso como 3desinfector e ao chegar esta com outro nome...atualizar com a marca correta uma vez que é o mesmo aparelho'}]

```
For each chunk 
Run api 
Save results to list 
save list
````

In [9]:
comments_unique = list(df1.review_comment_message.dropna())

In [10]:
len(comments_unique)

41753

In [11]:
def chunks(l, n):
    n = max(1, n)
    return (l[i:i+n] for i in range(0, len(l), n))

In [12]:
comments_translations = []

In [13]:
import pickle

In [14]:
if False:
    os.remove('data/translate_dumps.pickle')

In [15]:
for i, texts in enumerate(chunks(comments_unique, 50)):
    partial_result = translate_client.translate(texts, target_language='en')
    comments_translations.append(partial_result)
    
    if i % 10 == 0:
        print(i)
        with open('data/translate_dumps.pickle', 'wb') as handle:
            pickle.dump(comments_translations, handle)

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830

In [16]:
# import pickle

# a = comments_translations

# with open('filename.pickle', 'wb') as handle:
#     pickle.dump(a, handle)

# with open('filename.pickle', 'rb') as handle:
#     b = pickle.load(handle)

# print(a == b)

In [2]:
with open('data/translate_dumps.pickle', 'rb') as handle:
    b = pickle.load(handle)

In [3]:
len(b)

831

In [10]:
#b

In [11]:
#[i['translatedText'] for i in b[0][:100]]

Load to dataframe

In [13]:
import pandas as pd
import numpy as np
import nltk
import pickle

In [14]:
df1 = pd.read_csv('data/olist_order_reviews_dataset.csv')

In [15]:
df1.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

100 000 reviews in total

In [16]:
df1.isna().mean()

review_id                  0.00000
order_id                   0.00000
review_score               0.00000
review_comment_title       0.88285
review_comment_message     0.58247
review_creation_date       0.00000
review_answer_timestamp    0.00000
dtype: float64

In [17]:
df1.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       88285
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [33]:
out = []
for i in b:
    for j in i:
        out.append(j)
# [i for i in b[:2]]

In [35]:
len(out)

41550

In [49]:
out2 = dict([(i['input'], i['translatedText']) for i in out])

In [51]:
df1['review_message_eng'] = df1['review_comment_message']

In [54]:
df1['review_message_eng'] = df1['review_message_eng'].map(out2)

In [56]:
df1

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_message_eng
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,NaN
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13,NaN
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24,NaN
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06,I received it well before the deadline.
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53,Congratulations lannister stores loved shoppin...
...,...,...,...,...,...,...,...,...
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42,NaN
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43,NaN
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13,NaN
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43,NaN
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49,NaN

In [ ]:
df1.to_pickle('data/')